*
!/**/
!*.*
doc/Doxygen/html/
doc/Doxygen/MathJax/

!doc/Doxygen/Doxyfile
!doc/Doxygen/svg
!Makefile
*.tmp
*.hex
# .vscode/
TODO.txt
.~lock*
*.o
*.geany
__pycache__/

googletest-*/
*.pc
bin/
lib/
CMakeFiles/
*.cmake
CMakeCache.txt
build/googletest/Makefile
build/Makefile
CTestCostData.txt

.cproject
.project
language.settings.xml
.settings/*