doc/Doxygen/html/
doc/Doxygen/MathJax

doc/Coverage/

*.tmp
*.hex

# .vscode/
tags

TODO.txt
.~lock*
*.o
*.geany
__pycache__/

*.pc
bin/
lib/
build/*

.cproject
.project
language.settings.xml
.settings/*

.vscode/ipch