*
!/**/
!*.*
doc/Doxygen/*

!doc/Doxygen/Doxyfile
!doc/Doxygen/svg
!Makefile
*.hex
# .vscode/
TODO.txt
.~lock*
*.o
*.geany
__pycache__/

googletest-*/
*.pc
bin/
lib/
CMakeFiles/
*.cmake
CMakeCache.txt

.cproject
.project
language.settings.xml
.settings/*